.container {
  padding-top: 30px;
  width: 300px;
  margin: auto;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.movie-list {
  margin-top: 30px;
}

.movie {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.movie-id {
  color: red;
  margin-right: 20px;
}

.movie-title {
  color: blue;
}

.movie-release_date {
  margin-left: auto;
}